

<section id="about" class="about section">


  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/images/rechtsschutz.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
        [ngClass]="directionService.getDirection()"
      >

      <h3 class="customer_name font" style="padding-left: 100px; padding-top: 50px" >
      </h3>
      
        <ul >
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span class="font" >{{'companyField.p1' | translate}}.</span>
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span class="font">{{'companyField.p2' | translate}}.</span>

          </li>
         

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span class="font">{{'companyField.p7' | translate}}.</span>

          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span class="font">{{'companyField.p8' | translate}}.</span>

          </li>
         
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span class="font">{{'companyField.p13' | translate}}.</span>

          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span class="font">{{'companyField.p14' | translate}}.</span>

          </li>


          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p1' | translate }}</span>
         
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p2' | translate }}</span>

          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p3' | translate }}</span>

          
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p4' | translate }}</span>

          
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p5' | translate }}</span>

          
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p8' | translate }}</span>

          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p9' | translate }}</span>

          </li>

          
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p10' | translate }}</span>

          </li>


          



       
        


            
        
          
          <br>
        </ul>
      </div>
    </div>
  </div>
</section>
